main{
    width: 900px;
    margin: 0px auto;
    padding: 0px 40px;
    
}


main .box{
    width: 800px;
    height: 360px;

    border:3px solid var(--main-color);
    border-image: linear-gradient(to right, #1296db, #174897) 1;
    margin: 20px auto;
    position: relative;
}
/* main .card{
    position: absolute;
    bottom: 10px;
    left: 40px;
} */
main dd{
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    /* text-align: center; */
}
main #wechatma{
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px auto;

    border:2px solid var(--main-color);
    border-image: linear-gradient(to right, #1296db, #174897) 1;
}
main .box span{
    color: var(--main-color);
    font-weight: 800;
    display: block;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}
main .card{
    /* width: 100%; */
    margin: 20px;
}
/* main #wechatma{
    width: 150px;
    height: 150px;
    position:absolute;
    top: 25px;
    left: 40px;
}
main .box span{
    display: block;
    width: 150px;
    height: 20px;
    position:absolute;
    top:175px;
    left: 40px;
    text-align: center;

}

main #address{
    width: 220px;
    height: 220px;
    position:absolute;
    bottom: 30px;
    right: 45px;
} */